nav {
  position: sticky;
  width: 100%;
  padding: 1rem;
  background-color: #f9f9f9;
  border-bottom: 1px solid #000;
  display: flex;
  flex-wrap: wrap;

  a {
    text-decoration: none;
  }

  .navbar-brand {
    margin: 0 auto 0 4rem;
    color: #000;
    font-size: 2rem;
  }

  ul.nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    a {
      padding: 1rem;
      color: grey;
      text-transform: uppercase;
      font-size: 1rem;
    }
  }
}
